@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --fonte-principal: "Roboto Condensed", sans-serif;
    --fonte-corpo: "Oswald", sans-serif;
    --cor-cinza-auxiliar: #E6E6E6;
    --cor-marrom-1: #4a3728;
    --cor-marrom-2: #745b49;
}
